[2021-02-20 08:22] houqp opened #3 "support https and other transports for csv format"
currently it's hard coded to only support local files.

[2021-02-20 09:50] #3 closed

[2021-02-20 09:50] houqp commented on #3
fixed with #4

[2021-02-26 08:30] d0m1987 opened #10 "ReadMe described installation on Windows fails"
Hi,

I tried to install roapi according to the ReadMe and the following error occured:

![image](https://user-images.githubusercontent.com/8297453/109274888-4bb89880-7814-11eb-85c7-01b66df14101.png)

Operating System: Windows 10.0.18363

I'm not fluent in Rust and just wanted to test this cool project. So, maybe this is something that an additional command parameter could solve? Would be great if

[2021-02-26 17:19] houqp commented on #10
@d0m1987 can you give the new install command a try? I missed a branch argument in it.

[2021-02-26 17:19] #10 closed

[2021-02-26 18:37] d0m1987 commented on #10
Works like a charm :-) Thanks @houqp for the fast help!

[2021-02-28 19:37] houqp opened #12 "Look into custom memory allocator"
See if switching to mimalloc and snmalloc helps with improving performance.

[2021-02-28 20:24] houqp opened #15 "Enable SIMD feature for docker build"
We should use nightly rust toolchain in Docker build and enable `simd` feature for better performance.

[2021-03-01 03:52] snghnishant opened #16 "HTTP2 Support"
I was wondering if the maintainers can add HTTP2 support as a feature request. So it can be worked later to be added to the framework.
Thanks.

[2021-03-01 05:17] houqp commented on #16
ROAPI uses actix-web and looks like it's not too much work to configure this: https://actix.rs/docs/http2/.

[2021-03-07 20:02] houqp opened #18 "Run S3 integration test with minio in CI/CD"

[2021-03-07 20:24] houqp opened #19 "make batch size configurable when loading datasets"
currently batch size is hard coded to 1024 in code.

[2021-03-07 20:51] houqp opened #20 "optimize IO with bufreader"
When loading dataset from filesystem and network, we should use `BufReader` instead of `Read` trait to reduce system calls. This means `partitions_from_uri` functions' signatures need to be changed to accept a callback that takes `BufReader` instead of `Read`.

[2021-03-07 21:52] houqp opened #22 "Automate binary release through github action"

[2021-03-14 03:32] #22 closed

[2021-03-14 23:17] houqp opened #28 "Automate docker release with Github action"
add a job in roapi_http_release action to build, tag and push docker image to https://github.com/orgs/roapi/packages/container/package/roapi-http on every release.

[2021-03-24 05:50] houqp opened #31 "Switch to glibc for automated Linux binary releases"
It's been reported by other projects that musl could lead to performance issues, so we should switch our Linux binary releases to use glibc instead to avoid these kind of potential pitfalls.

[2021-04-06 10:07] linrium opened #33 "Unsupported datatype: Date32"
I had an error when querying the data that had the `Date32` type. I checked DataFusion library but it works on Date32.

thread 'actix-rt|system:0|arbiter:5' panicked at 'Unsupported datatype: Date32', /Users/runner/.cargo/git/checkouts/arrow-7d34e669e95701bb/f7cf157/rust/arrow/src/json/writer.rs:326:13

Reproduce:
Config:
[code]
SQL query:
[code]

CSV data:
[code]

Schema:
[code]

Command:
[code]

[2021-04-06 11:49] dantodor commented on #33
I was about to ask the same question, I'm trying to load a Parquet file with a Date field, same error

[2021-04-06 17:47] houqp commented on #33
Ha, good catch, this should be an easy fix. I didn't implement date32 in the json serialization because I wasn't sure what's the best json value to serialize into. For example, we can serialize it into a number or a string. Returning a number (count of days) is the more efficient and robust behavior, but would make it a little bit less readable for human, which I guess is not too big of a problem

[2021-04-07 02:21] linrium commented on #33
I think it should return a number so that it would be easy to query :")

[2021-04-07 02:38] linrium opened #34 "Support roapi for AWS Lambda"
I want to use roapi for serverless but I have to do some tricks. For example, I've to build a python image, and run roapi as a subprocess then use restful API to call it. I checked the repo and saw the subproject `columnq`. So do you have any plan to split `columnq` to another repo so that it would be easy to use in serverless or integrate with another backend code?

**Why support serverless?**
In

[2021-04-07 02:52] thucnc commented on #34
I have the same interest with @linrium on making use of roapi for non-tech users when they have static resources and want to query them with sql. So how can we create an on-demand api to query personal resource (serverless is a good approach)? The current user guide seems not meet this use-case ?

[2021-04-07 06:51] houqp commented on #34
I have a secret roadmap item to export columnq as libraries to other languages like python through a thin language binding. This worked really well for another project that I am working on right now, see https://github.com/delta-io/delta-rs/tree/main/python.

In preparation for that, I have already abstracted the high level interfaces into https://github.com/roapi/roapi/blob/main/columnq/src/colum

[2021-04-07 06:52] houqp commented on #34
But if anyone of you is interested in working on a python binding for columnq using pyo3 and maturin, please let me know, I will be more than happy to help guide the process.

[2021-04-08 06:35] thucnc commented on #34
Thanks @houqp for your suggestion. It's great to know your roadmap, and I think it would be great to use ColumnQ with streamlit :D

[2021-04-12 06:01] #33 closed

[2021-04-12 06:06] houqp commented on #33
@linrium @dantodor latest release now supports date, time and timestamp types. I implemented date and time to return the value in string instead of number so users can figure out the time unit based on the response without needing to query the schema. Here is how you can query date columns:

[code]

[2021-04-12 06:13] houqp opened #36 "Dataset JOIN query support"
Datafusion only has partial SQL join support, we need to extend Datafusion to support full fledged JOIN queryies.

[2021-04-12 07:17] dantodor opened #37 "Timestamp issues"
First of all, thanks for including the Date32 in the latest commit.

I have checked out the code, build it with `--release` (btw, you might want to update the readme, the cargo command doesn't works because now you have two targets, roapi and columnq). Ubuntu 18, Rust updated to latest stable.

I have a few parquet files, in which datetime is stored in various formats, form Scala - Timestamp, Date

[2021-04-12 07:23] dantodor commented on #37
Please forget it, I'm an idiot ... I was running the previous version

[2021-04-12 07:23] #37 closed

[2021-04-22 01:50] #34 closed

[2021-04-22 01:54] linrium opened #38 "Release Python package for version 1.1.3"
As I've known in version 1.1.3 have released that have supported `Date32`. So, could you release it for Python package? Thank you very much.

[2021-04-22 06:00] houqp commented on #38
good catch, 0.1.3 is on pypi now.

[2021-04-22 06:00] #38 closed

[2021-04-22 09:12] tomsej opened #39 "Multi-node deployment"
Hi this tool looks awesome! Do you have any experience/tutorial on how to run roapi on multiple nodes?

[2021-04-23 03:26] houqp commented on #39
roapi-http is stateless, so you can spin up as many instances as you want serving the same dataset, then put a load balancer in front of them.

[2021-04-27 17:56] tomsej commented on #39
Oh right. It makes a lot of sense.

[2021-04-27 17:57] #39 closed

[2021-04-27 18:02] tomsej opened #40 "Add support for websockets"
It would be great to add support for websockets too - https://actix.rs/docs/websockets/. Thanks a lot!

[2021-06-04 15:38] robdrysdale opened #42 "Timestamps in parquet files"
I've run into issues reading timestamp columns from parquet files.

The snapshot DataFusion library did not work at all to convert a string to a timestamp in query.
e.g. select * from parquet_table where date > CAST('2020-01-01T00:00:00.000Z' as Timestamp).
The required upgrading to datatfusion 4.0.0, which has now been released.

However there is still an issue reading timestamps from parquet.  A

[2021-06-04 15:49] robdrysdale commented on #42
I've uploaded a test parquet file, which contains stock market data for Microsoft. I had to zip as it won't allow parquet files directly so unzip before trying.

[msft.parquet.zip](https://github.com/roapi/roapi/files/6599704/msft.parquet.zip)

[2021-06-06 00:51] houqp commented on #42
Thanks @robdrysdale for the bug report, I have been busy working on relation support in datafusion lately. Will dig into look at it this weekend.

[2021-06-07 05:13] houqp commented on #42
@robdrysdale could you show me the code you used to generate the parquet file from pandas dataframe?

The Date column is indeed saved as `us` in parquet, but when I try to load it into pandas, it is decoded as `ns`:

[code]

roapi's schema endpoint also shows an extra parquet metadata field written by pandas with the following entry:

[code]

Here is the full output:

[code]

I wonder if pandas is

[2021-06-09 22:54] Diluted opened #43 "issue compiling roapi-http v0.1.13 could not compile `actix-cors`"
Hello,
I try to compile roapi-http from the [source zip](https://github.com/roapi/roapi/archive/refs/tags/roapi-http-v0.1.3.zip)

I have an error when I compile

`cargo install --verbose --path ./roapi-http --bin roapi-http`
building
...
...

[code]

[2021-06-09 23:53] houqp commented on #43
@Diluted could you share the rust version here?

[2021-06-10 00:45] Diluted commented on #43
rust version 1.51 because 1.50 gives me another set of error with flatbuffers regarding const generics:

error[E0658]: const generics are unstable
   |
28 | pub struct Array<'a, T: 'a, const N: usize>(&'a [u8], PhantomData<T>);
   |                                   ^
   |
   = note: see issue #74878 <https://github.com/rust-lang/rust/issues/74878> for more information

[2021-06-13 19:36] houqp commented on #43
I can reproduce this on my end as well, looks like `cargo install` doesn't honor the `Cargo.lock` file shipped in the source. From my cargo build log, I see:

[code]

But in the lock file, it's pinned to `beta.4`.

As a work around, you could use `cargo build` to produce the binary, then manually install it into your PATH.

[2021-06-13 19:46] houqp commented on #42
OK, I double checked the schema in the parquet file, it is stored as `us`. So either arrow or datafusion is reading the column type with the incorrect type. I will dig more into this.

[2021-06-13 20:14] houqp commented on #42
I can confirm this is due to the column type set in the metadata field by pandas. In arrow parquet reader, type provided from the metadata key value takes higher priority over the parquet schema. Changing arrow parquet reader to ignore the metadata field fixes the problem. I will file an upstream ticket to track the proper fix for this. It looks like the parquet reader in pyarrow is doing somethin

[2021-06-13 22:39] robdrysdale commented on #42
Apologies for delayed response, I've been on vacation.

Pandas code was very simple

`import yfinance as yf

hist = yf.Ticker('MSFT').history(period="max")
hist.to_parquet('msft.parquet')`

[2021-06-13 23:04] houqp commented on #42
Ha that makes sense, nano seconds timestamp was added in parquet 2.0. Anyway, I will follow up with upstream issue and link it back here.

[2021-06-14 00:00] houqp commented on #43
released v0.2.0. I am going to try to migrate away from actix-web because it's not being actively maintained anymore unfortuately.

[2021-06-14 00:18] houqp commented on #43
welp, looks like even pinning the version in `Cargo.toml` is not enough to make `cargo install` work :thinking:

[2021-06-14 00:24] houqp commented on #43
oh well, turns out this is a well known problem, see https://github.com/rust-lang/cargo/issues/7169. I will update all instructions to run `cargo install` with `--locked` argument.

[2021-06-14 00:42] houqp commented on #43
updated docs everywhere.

[2021-06-14 00:42] #43 closed

[2021-06-14 18:01] Diluted commented on #43
@houqp thanks, I will have a look today or later this week

[2021-07-04 07:44] #36 closed

[2021-07-20 05:30] houqp opened #54 "Add parquet encoding support"
This is already supported by upstream arrow crate, just need to invoke the relevant API.

[2021-07-22 09:25] jbremmer opened #55 "Inlude new files in registry"
As ROAPI User
I would like to point to folder containing files (JSON/Parque/etc)
and be able to include new files (as in added after ROAPI start) in query results.

[2021-07-22 16:56] houqp commented on #55
Streaming update is definitely something I wanted to add to roapi as well :)

@jbremmer how are you deploying roapi with corresponding files today?

[2021-08-04 13:20] mmuru opened #57 "Unable to load a large Delta table"
I am able to load smaller Delta tables but unable to load larger Delta table (4.2 billions rows consists of 1K Parquet files). I tried to bump up batch_size but it did not help. Currently in ROAPI, I do not see an option to pre-filter in the Arrow dataset level. No option to distribute the dataset in multiple nodes (distributed dataset). Any suggestions how to achieve this in ROAPI? Are these know

[2021-08-05 04:15] houqp commented on #57
We currently only support datasets that fit into memory in a single machine. it's very possible that your data size exceeded the memory limit. The feature of applying partition filter when loading datasets should be pretty easy to add. So if you only need to serve a subset of the delta table and that subset fits into machine memory, then this would work for you.

Distributed sharding of large data

[2021-08-05 15:29] mmuru commented on #57
@houqp: Thanks for your clarification. In real world, handling large datasets in a single machine is impossible and it requires distributed sharding across multiple nodes. I believe, ROAPI has almost every features except this functionality. It will be great valuable to support this feature in ROAPI at the earliest. I am happy discuss and collaborate on this.

In the meantime, I will try to explor

[2021-08-06 06:10] houqp commented on #57
I totally agree with you @mmuru. ROAPI was initially created to serve small to midsize datasets. I wanted to validate the end user experience first before start to work on distributed serving. I am busy working on a new datafusion release lately, but I plan to get back to ROAPI after that.

This might be a bug in the delta-rs crates that I also happen to maintain. Do you mind sharing the error wit

[2021-08-06 20:37] mmuru opened #58 "Failed to load Delta table with partitions"
When I tried to load a Delta table with partitions, it throws the following exception

Error: DeltaTable error: Failed to apply transaction log: Invalid JSON in log record
Caused by:
    0: Failed to apply transaction log: Invalid JSON in log record
    1: Invalid JSON in log record
    2: invalid type: null, expected a string at line 1 column 195

I believe it fails because the table commit log h

[2021-08-06 20:56] houqp commented on #58
good timing, i believe https://github.com/delta-io/delta-rs/pull/354 should fix it :)

[2021-08-09 00:42] #58 closed

[2021-08-09 04:34] houqp commented on #58
@mmuru could you give it another try with the 0.3.4 release?

[2021-08-09 06:08] mmuru commented on #58
@houqp: I tried it with 0.3.4 release and getting different exception now.
[code]

By the way, how to load a specific partition? Is there way filter only partition columns on the server side?

[2021-08-10 00:52] houqp commented on #58
This is usually caused by mismatch between the schema in delta table and the underlying parquet files. Could you give https://delta-io.github.io/delta-rs/python/ or https://github.com/delta-io/delta-rs/tree/main/rust a try to see if you can reproduce this error? If you can share the delta table with me for further debugging, that would be even better, but I am guessing it contains proprietary data

[2021-08-10 22:52] mmuru commented on #58
@houqp: I can't reproduce the error with delta-rs/python. I am already using delta lake with Spark and it worked without any issues. I think, the issues with roapi-http side. Unfortunately, I can't share the delta table but I will try to create a sample delta table to reproduce the issue.

Sure, is there sample reference how to add a config option in roapi-http? Please, point it to me. Thanks.

[2021-08-11 07:46] houqp commented on #58
That's very interesting. Does your table have any timestamp columns? If so, are those timestamps stored in parquet as int96 or int64?

Similar to json and csv load options, you can add create a new struct for delta table option, then set it at https://github.com/roapi/roapi/blob/main/columnq/src/table/mod.rs#L141. In that delta table option, we could have an optional partition filter field that ca

[2021-08-21 18:44] dispanser opened #62 "Support for large data sets (avoiding `MemTable`)"
Hi,

Related to #57,
I have a use case where I need visualize a small part  (few thousand rows) from a large dataset (a few hundred TBs) by using a highly selective query that is typically only hitting a few parquet files out of a large number of partitions. Using spark, these queries can be served in a few seconds (assuming that the file meta data fits in memory) - even on a single-node system.

[2021-08-21 22:51] houqp commented on #62
Thanks @dispanser for the PoC! I think it's a good idea to move from MemTable to the TableProvider trait generic. I will be more than happy to merge this change in if we can gate it with a config. We can let users make their own tradeoffs on whether they want low latency (memtable) v.s. larger dataset.

One feature that I think would be pretty cool to add in the future is multi-tier caching for Ta

[2021-08-29 11:18] tempbottle opened #65 "roapi-http can not work on windows"
run roapi-http.exe on windows with simple:
[code]
and get error:
[code]

[2021-08-29 11:26] tempbottle commented on #65
[https://github.com/roapi/roapi/blob/main/columnq/src/table/mod.rs#L279](https://github.com/roapi/roapi/blob/main/columnq/src/table/mod.rs#L279) here got csv' with more char of '

[2021-08-30 01:34] houqp commented on #65
interesting, @tempbottle I don't have a windows machine to test this. Based on google, it looks like windows terminal doesn't support single quote, could you give `roapi-http.exe --table "tresult=d:/data/out_result.csv"` a try?

[2021-08-30 06:45] #54 closed

[2021-08-30 10:15] dispanser commented on #55
Option 3 seems rather hard to implement. I expect it needs some form of support from the underlying storage system. I believe both S3 and Azure have something like that, but we probably need a separate implementation for each of those, and there is non-trivial machinery involved, at least in [azure](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview)

Wrt the other tw

[2021-08-30 10:56] jbremmer commented on #55
Having operational endpoint to refresh specific folder, or simply point to new file would be nice workaround too.

@houqp I have bunch of parquet files on local file system (about to move to S3).

[2021-08-30 15:01] tempbottle commented on #65
[code]
can make advance. But `d:` is bad for `uriparse`. I need
[code]
to bypass `uriparse`. And we can add `file://` schema for this by: [https://github.com/tempbottle/roapi/commit/a15749331bcc1763a3ddb6ccb5ff3e28b91f3823](https://github.com/tempbottle/roapi/commit/a15749331bcc1763a3ddb6ccb5ff3e28b91f3823)

But in the end it failed, because it got block somewhere.

[2021-09-01 11:03] ekroon opened #66 "Support loading of Arrow IPC format"
I think it would be useful if ROAPI can not only use Arrow IPC for response encoding, but also as a dataset format.

[2021-09-01 12:21] #65 closed

[2021-09-02 05:45] houqp commented on #65
good catch @tempbottle , I don't have a windows environment to catch all these edge-cases. do you mind sending your file schema change as a PR?

[2021-09-02 05:48] houqp commented on #66
good call @ekroon , this should be fairly straight forward to add since it's already supported by the arrow rust implementation: https://github.com/apache/arrow-rs/blob/master/arrow/src/ipc/reader.rs

[2021-09-02 06:24] houqp commented on #55
Yes, this requires support from the underlying storage system or table format. s3 event notification for aws, inotify for local fs, etc. For table formats like delta tables, we can also fall back to simple polling of latest version.

[2021-09-02 14:44] tempbottle commented on #65
OK, I'm a little busy these days, I'll give this a try later.

[2021-09-05 21:27] #66 closed

[2021-09-06 07:56] #62 closed

[2021-09-08 17:30] dispanser opened #74 "Azure Data Lake Gen 2 support"
Delta-rs (and soon, datafusion) will support ADL2, and I think it would be great  to also have this in ROAPI.

If I had to implement it, I'd have a closer look at the implementation in [delta-rs](https://github.com/delta-io/delta-rs/blob/main/rust/src/storage/azure.rs) but I'm open to other suggestions.

[2021-09-09 04:20] houqp commented on #74
That sounds good, I also use the s3 storage backend in delta-rs as the inspiration for roapi's s3 io module.

[2021-09-13 17:15] houqp opened #76 "Switch from actix-web to a better maintained web framework"
From https://github.com/roapi/roapi/pull/75#issuecomment-918385245. We should evaluate both warp and https://github.com/tokio-rs/axum.

[2021-09-14 06:30] Dandandan opened #77 "Support Arrow Flight endpoint"
It might make sense to have a look at supporting Arrow Flight as endpoint, this looks to be a good match with roapi.

https://arrow.apache.org/docs/format/Flight.html

[2021-09-14 06:41] houqp commented on #77
Yes, I agree this would be a very good addition as a query frontend :)

[2021-09-15 04:10] dispanser commented on #55
Just for reference, delta has a config (at spark session level), `spark.databricks.delta.stalenessLimit` which represents a time unit with maximum allowed staleness. Since this is per session, it would be conceptually close to the 1. (query parameter `maxAge`) above.

[2021-09-16 23:21] houqp commented on #76
rocket has added async support, so we should evaluate them as well.

[2021-09-18 10:25] johanols opened #78 "Alias issues on join"
I have a simple setup with the following configuration and tables:

**roapi.yml**
[code]

**countries.csv**
[code]

**cities.csv**
[code]

If I then perform the following `JOIN` request without any issues:

[code]

But if I then try to additionally select the city `ID` things doesn't goes so well:

[code]

To me this seems as if the aliasing is not working as expected. I would expect the query eng

[2021-09-18 19:13] houqp commented on #78
Thanks @johanols for the detailed bug report! This is caused by https://github.com/apache/arrow-datafusion/blob/db305dadea458a26723fa53d85463155247d39f9/datafusion/src/physical_plan/hash_utils.rs#L92. From a quick glance, it looks like we are indeed being too strict on join conditions. I will work on a fix for it this weekend.

[2021-09-19 23:55] houqp commented on #78
This should be addressed by https://github.com/apache/arrow-datafusion/pull/1023

[2021-09-20 03:50] #78 closed

[2021-09-20 04:20] Smurphy000 commented on #76
What is your criteria for evaluation? I have started using rocket for a little project I am working on, so if there are some features you want to compare I can share what I have learned about rocket to compare with other frameworks.

[2021-09-20 04:54] houqp commented on #76
I don't have a very objective rule here. I prefer frameworks that have intuitive APIs without layers of unnecessary abstractions and coupling. So mostly coding style I guess. Code base with simple and right level of abstractions makes it easier maintain, debug, optimize and troubleshoot.

I have been ignoring rocket mainly because they didn't have tokio 1.x support. Author of rocket is a really so

[2021-09-20 05:05] houqp commented on #78
FYI, cutting a 0.4.1 release to pick up this fix.

[2021-09-20 09:05] ekroon opened #80 "Add RFC7231 Accept header parsing"
I would like to use ROAPI endpoints from a browser. Currently when accessing `/api/tables/{table_name}` endpoint with a browser you get an error like the following:

`{
"code": 400,
"error": "unsupported_content_type",
"message": "\"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9\" is not a supported response c

[2021-09-20 18:00] houqp commented on #80
Good catch @ekroon , did you mean to access the endpoint by loading it directly in a browser or loading it through AJAX call?

Regardless, I agree with you that we should support q factor weighting in request header parsing. I think a fallback to json makes sense when accept header is not specified at all by the client. Otherwise, it might confuse the client.

[2021-09-20 18:05] ekroon commented on #80
I mean loading it directly in the browser window.

[2021-09-20 18:10] houqp commented on #80
Got it, extending on your use-case, I think it might be an interesting idea to implement a html or xml encoding type. The html encoding could render the query result in a nicely looking web page to help better visualize the result. We can even throw in some js code to make the resulting web page interactive.

[2021-09-23 22:17] johanols commented on #78
Wow! That was fast! 😲
Just tried it out with the 0.4.1 release. Works like a charm 👍
Thank you!

[2021-09-26 07:40] ekroon commented on #28
This is issue seems to be resolved with: https://github.com/roapi/roapi/commit/aff94fa6162afa8f109971ebd40b9f4a25460377

[2021-09-26 08:31] houqp commented on #28
Yes, good call, this has been resolved.

[2021-09-26 08:31] #28 closed

[2021-09-26 17:14] #15 closed

[2021-09-26 17:25] houqp opened #82 "Produce optimized build for official releases"
We should adopt all tips from Datafusion's doc: https://arrow.apache.org/datafusion/user-guide/library.html#optimized-configuration.

[2021-09-27 06:33] ekroon commented on #65
This issue is fixed in #69 with (https://github.com/roapi/roapi/pull/69#issuecomment-912983676)

[2021-09-27 16:20] ekroon commented on #76
I am looking at the different options and currently there are some outstanding issues that would be impacted by / could influence the decision:

- #16
- #40
- #77
- #80

At this point I investigated Axum the most:

- #16 and #77 (GRPC) on a single endpoint is described [here][axum-hyper-tonic-tower]. Apparently not super easy, but working solution available.
- #40 is supported, see: [axum::extract

[2021-09-29 05:36] houqp commented on #76
Sorry @ekroon I have been busy with datafusion lately, so I won't have much time to help with the web framework evaluation this week. If you are feeling good about axum, then please feel free to give it a stab :)

I am all for integration tests over unit tests. So if you want to contribute integration tests to help with the migration, that would be great.

[2021-10-08 22:08] houqp opened #85 "Looking into source of logging overhead"
https://tech.marksblogg.com/roapi-rust-data-api.html mentioned that changing logging level from info to error resulted in 50% speed boost, this is certainly not expected :(

[2021-10-09 13:45] M-M-M-M opened #86 "docker is not working due to GLIBC issue: roapi-http: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found (required by roapi-http)"
Running `docker run -t --rm -p 8080:8080 ghcr.io/roapi/roapi-http:latest --addr 0.0.0.0:8080 \
    --table "uk_cities=test_data/uk_cities_with_headers.csv" \
    --table "test_data/spacex_launches.json"`

is generating error:

```roapi-http: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found (required by roapi-http)```

[2021-10-09 17:26] houqp commented on #86
I will take a look into this today, in the mean time, you can try an older version as a workaround:

[code]

[2021-10-10 21:46] houqp commented on #85
@Dandandan I am not seeing info logging from sqlparser, looks like it's only using `log::debug` at the moment?

[2021-10-11 00:40] #86 closed, assigned to nobody

[2021-10-11 07:13] Dandandan commented on #85
Ah yes - good find. Sounds like a good idea :+1:

[2021-10-11 14:47] tiphaineruy opened #90 "Selecting files with Glob pattern / regexp when registering a table"
Note sure if it could be interesting  but:

When registering a table:

[code]
  add in options:
glob

or regexp

It would allow selecting in uri's with different extension / schema version

[2021-10-11 17:46] marklit commented on #90
I suspect the reason multiple files per table aren't support is because that support is yet to arrive in datafusion https://github.com/apache/arrow-datafusion/issues/133

[2021-10-11 18:22] marklit opened #91 "GET and POST verbs"
Is there a reason the GraphQL and SQL need to communicate via POST and not GET like the REST endpoint allows for?

[2021-10-12 06:24] houqp commented on #85
Thanks @marklit for the tip. I will verify the logging overhead once we moved to a new web framework and optimize it if it still turns out to be an issue.

[2021-10-21 07:18] houqp commented on #76
I did a quick PoC with both axum and rocket, see: https://github.com/houqp/roapi/tree/qp_axum and https://github.com/houqp/roapi/tree/qp_rocket.

For my very limited and uncomprehensive test, rocket port was doing around 29k rps, axum 33k rps and actix 39k. But I think rocket's performance issue is the less concerning part, after all, we can help them fix these performance bottlenecks. What I real

[2021-10-24 23:32] #85 closed, assigned to nobody

[2021-10-30 16:02] pmleveque opened #98 "Error reading Parquet files from S3 with a space in the path."
Hi, I had a problem loading parquet file from s3 when there's a space in the path. I tried with `%20` but it doesn't work either.

Example path:
s3://my-bucket/trusted/receita_socios/version=2021-10-30 09:00:56/my-file.parquet

Error message:
[code]

The same file without space in the path works fine.

[2021-10-31 05:18] houqp commented on #98
hmm, I am not able to reproduce this, uri with space results in `Error: Invalid table URI` error, which is expected. Changing it to `%20` works for me with aws localstack. Sorry I don't have real AWS s3 bucket setup for testing. Could you try running it with `RUST_LOG=debug`?

[2021-11-07 01:10] houqp commented on #55
@brycefisher the partition support you mentioned got merged into datafusion recently (see https://github.com/apache/arrow-datafusion/pull/1141), although right now it only works for local filesystem. But we should be able to get this support for free once other object stores are added to datafusion.

I think push based update is also a good feature to add, thanks for the suggestion :)

So to summa

[2021-11-09 03:20] guptap23 opened #101 "Does it support https traffic without modification?"

[2021-11-11 12:39] xezpeleta opened #102 "Docker image not working"
Hi,

I'm just trying roapi.

Docker image with the `latest` tag (and version >=0.4.3) is not working. It ends with the exit code 132 and no error message.

[code]
It works ok with v0.4.2

[code]

Thanks

[2021-11-12 02:48] houqp commented on #102
I am not able to reproduce this, here are my runs for 0.4.3 and 0.4.4.

[code]

[code]

@xezpeleta what OS are you on?

[2021-11-12 07:43] xezpeleta commented on #102
- Ubuntu 20.04.3 LTS
- Docker 20.10.10, build b485636

[2021-11-12 07:47] houqp commented on #102
@xezpeleta what's your CPU? I think exit code 132 likely has something to do with cpu instruction set. We started to only target skylake cpu in our release build since the 0.4.3 release.

[2021-11-12 08:00] xezpeleta commented on #102
Must be that.

I'm running roapi in a VM on my ProxmoxVE environment.

Currently the CPU is default (kvm64):

[code]

It looks it does not support AVX:
[code]

[2021-11-12 10:58] xezpeleta commented on #102
Ok, I've changed the CPU type from `kvm64` to `host` in Proxmox, and now it works.

Thanks

[2021-11-12 12:34] xezpeleta opened #103 "Error: no CA certificates found"
Hi,

When I configure a Google Spreadsheet using the Docker environment, I get the following error:

[code]

Installing the package `ca-certificates` with APT in the Docker image fixed the issue.

Thanks

[2021-11-12 12:52] xezpeleta commented on #80
Hi, I agree with @ekroon

A fallback to application/json would be enough.

Thanks!!

[2021-11-12 15:11] ekroon commented on #80
A full implementation for Accept header parsing will be a bit involved as there is no implementation available for Axum. The correct place to implement this would be hyperium/headers#7 but that appears to going slow. Maybe a port of Rocket or Actix's implementation in a separate crate is a quicker solution.

Alternatively, supporting the format in the url extension, like `.json`, `.xml`, would be

[2021-11-14 00:13] houqp commented on #80
Thanks @ekroon , I agree with both of your points :) For your first point, on top of what's in rocket and actix, I think we can also take https://github.com/hyperium/headers/pull/70 as a reference to build out the crate.

[2021-11-15 06:43] houqp commented on #103
good catch @xezpeleta , looks like should be a very simple fix. adding `good-first-issue` to it.

[2021-11-16 08:34] #103 closed

[2021-11-19 01:12] #19 closed

[2021-11-19 10:02] tobyhede commented on #20
Hello 👋 ... went to pick this one up and just wanted to check.

The File System partitions_from_uri was straightforward, but some of the other functions are a bit more complicated.

Functions like the `S3::partitions_from_uri` expect a callback with the type `FnMut(:Cursor<Vec<u8>>)`

Digging further into the way S3 subsystem works, the core is a ByteStream that is read and wrapped into a Cursor .

[2021-11-19 21:39] tobyhede commented on #20
Perhaps I will push what I have and take it from there.

[2021-11-21 15:03] Seddryck opened #110 "Expecting qualified names"
Hi all,

I'm using the version 0.4.4 and the REST API and was able to successfully use roapi using a projection/sort/limit pattern with the following call:
`curl -v "http://127.0.0.1:8084/api/tables/cities?&columns=City,State&sort=LatD&limit=3"`

Unfortunately, when I run more than once this call, I'm starting to receive such messages: `{"code":400,"error":"query_execution","message":"Failed to ex

[2021-11-21 19:43] houqp commented on #110
What dataset did you use for the testing? Is it something you can share for us to reproduce the error?

[2021-11-22 15:47] Seddryck commented on #110
Yes surely. Here you are:
[cities.csv](https://github.com/roapi/roapi/files/7582433/cities.csv)

[2021-11-22 19:15] Seddryck commented on #110
I tested with v0.5.0 and same result.

[2021-11-22 20:55] houqp commented on #110
oh i see, this is a known restriction in datafusion, columns in the filter clause need to present in the projection clause as well :( Try this `curl -v "http://127.0.0.1:8084/api/tables/cities?&columns=City,State,LatD&sort=LatD&limit=3"`.

[2021-11-23 08:07] Seddryck commented on #110
Thx for forwarding the issue to datafusion. Apply your change, I don't get any error 400 when I change the projection to include the filtered columns but I don't get the right result :-s (as you can see the result is changing from a call to the next).

![image](https://user-images.githubusercontent.com/5455045/142988797-7a794892-e2ac-476f-a000-a316816080c1.png)

As you can see the result si changi

[2021-11-24 02:56] houqp commented on #110
good catch @Seddryck , https://github.com/roapi/roapi/pull/114/files should take care of that.

[2021-11-24 18:14] Seddryck commented on #110
Tried to build from source code in order to validate the fix but was having some issues with `cargo build` regarding the patches provided in cargo.toml and not enough experience in rust to fix it (and my googlefu didn't help).

Anyway, I reviewed the code and also checked the feedback on apache/arrow-datafusion#1351 based on these elements, I think that the initial issue that I reported where ROAP

[2021-11-28 07:26] houqp commented on #110
Sorry for the delay due to vacation. Thanks @Seddryck for the deep dive, turns out I filed the wrong issue upstream. Filter works just fine regardless of order due to the filter push down optimization rule. It was the sort clause that was causing issue, so I filed a new upstream ticket to capture that.

I agree with you that orders of operations should be deterministic. I think we should take it o

[2021-11-28 07:33] houqp opened #115 "consistent and deterministic logical plan construction across query interfaces"
Follow on for https://github.com/roapi/roapi/issues/110. Order of logical plan node should be applied in a consistent and deterministic order between different query interfaces.

Here is the order we have in the sql planner today, would be good to keep the REST and GraphQL query interface in sync on this as well:

1. filter
2. project/select
3. sort
4. limit

[2021-11-28 10:55] Seddryck commented on #115
Pay attention that if you first project then after sort, the columns on which you're executing your sort could not be available anymore in your dataset (expl: project on `City and State` but Sort on `Latitude`).

[2021-11-28 11:00] Seddryck commented on #110
No problem! Agree if query engine is smart enough to handle cases where the sort columns are not projected, smarter to project before sorting.

[2021-11-28 23:26] chrisfw opened #116 "columnq binary version information does not match Release page version information"
Release page for most recent asset tar.gz ->  **columnq-cli-v0.2.0**

Output from downloaded Windows binary:

PS C:\temp\jira> columnq --version
**Columnq 0.0.1**

[2021-11-28 23:48] houqp commented on #116
thanks @chrisfw for the report, turns out the version was hardcoded in the source code and never got updated. I have sent a PR to make sure this is taken care of automatically in future releases.

[2021-11-28 23:58] chrisfw commented on #116
No problem.  Thank you for your prompt response!  Sounds good.

[2021-11-29 00:12] #116 closed

[2021-11-29 11:28] yfaming commented on #115
Hello, may I take this one?😀

[2021-11-30 06:38] houqp commented on #115
go ahead @yfaming !

[2021-11-30 09:21] #115 closed

[2021-12-01 06:00] novemberkilo commented on #16
@houqp Hi - I am fishing around for an issue to pick up to begin contributing to `roapi`

Now that the switch has been made to `axum` is this still an issue and if so, is it still a good-first-issue. If so, and if it's appropriate to pick up, I'd like to give it a go. It looks like it might involve turning on the `http2` flag for axum https://docs.rs/axum/latest/axum/#feature-flags

[2021-12-01 07:04] houqp commented on #16
Thanks @novemberkilo ! Based on the axum doc, it does look like a simple change. If you are interested in giving it a try, please go for it.

[2021-12-01 07:05] houqp commented on #20
I believe this is already taken care by @tobyhede :heart:

[2021-12-01 07:05] #20 closed

[2021-12-01 18:32] Seddryck commented on #110
I confirm that #115 is fixing the issue related to the limit applied before the sorting operation leading to wrong results. Thanks for the work done!

I'm keeping an eye on apache/arrow-datafusion#1372 to fix the issue around sorting data on unprojected column.

[2021-12-02 05:16] #16 closed

[2021-12-02 05:17] houqp opened #120 "Add HTTP2 integration test in CI"
to make sure we don't have regression on dropping support for http2 going forward. The test can just be a simple http2 curl call to roapi.

[2021-12-02 05:40] novemberkilo commented on #120
Hey @houqp happy to take this on next if that's ok? Please feel free to assign to me.

[2021-12-02 05:45] houqp commented on #120
sure, thanks!

[2021-12-03 06:24] novemberkilo commented on #120
So I've played around with this a bit and early indications are that testing `localhost:8000` for HTTP/2 is not likely to yield results unless we figure out how to run up a server with TLS.

For example:

[code]

[2021-12-03 12:36] Hanspagh opened #121 "Support for azure blob storage"
To my understanding, this is not supported yet.

Would it be something along the lines of adding an adapter for azure the same way as https://github.com/roapi/roapi/blob/main/columnq/src/io/s3.rs works with s3?

Maybe also related to #74

[2021-12-05 07:35] novemberkilo commented on #120
Update: I've got a possible solution that I would like to sketch out. Essentially I would like to do the following in an integration test:

[code]

So I will check that the curl command there will return `2` (it returns `1.1` if the server does not support HTTP/2).

Notes:

When you use `http2-prior-knowledge` you are essentially saying that I expect my server to respond with HTTP/2 and I do not w

[2021-12-05 16:34] ekroon commented on #120
@novemberkilo There are already some integration tests that use Reqwest. There is an option to set the HTTP version on the request: https://docs.rs/reqwest/latest/reqwest/struct.RequestBuilder.html#method.version

Maybe that will do as well?

[2021-12-05 18:22] houqp commented on #120
that `http2-prior-knowledge` option is very cool, thanks @novemberkilo for discovering that :D . I am cool with us going either way (curl v.s. reqwest) as long as we are testing http2 end to end.

[2021-12-06 00:53] #120 closed

[2021-12-10 00:59] novemberkilo commented on #40
I'd like to tackle this if that's appropriate. My plan is:

- turn on the `ws` feature flag for `axum` https://docs.rs/axum/latest/axum/#feature-flags
- write an integration test, possibly using `curl`

[2021-12-10 06:10] #110 closed

[2021-12-10 13:28] chrisfw opened #124 "Importing parquet file produced by odbc2parquet fails silently with "Good bye!""
Hello,

When I create parquet files using **odbc2parquet**, columnq cannot read them and fails silently.  These same files are able to be read without issue in duckdb and PowerBI.  If I import the parquet file into duckdb and export it again with duckdb's default parquet export compression format, columnq generates the error: **Error: Error loading Parquet: Failed to create file reader: Parquet er

[2021-12-10 13:55] jorgecarleitao commented on #124
Cpuld you share a small parquet file that reproduces the error?

[2021-12-10 15:14] chrisfw commented on #124
Here you go.
[files_snappy.zip](https://github.com/roapi/roapi/files/7693666/files_snappy.zip)

[2021-12-10 18:51] jorgecarleitao commented on #124
`arrow2` can also read the file, so this is likely something in the `parquet` crate.

[2021-12-10 23:05] novemberkilo commented on #40
@houqp my initial thoughts about this issue appear to have been naive. Simply enabling the feature in axum doesn't get us very far. Won't we actually need to support a websocket endpoint? Essentially something like `roapi-ws` that is a websockets version of `roapi-http`? This seems like a much bigger piece of work.

[2021-12-11 06:41] houqp commented on #40
yes, a new websocket endpoint will be needed, but I think we don't need an extra `roapi-ws` binary and it can be folded into roapi-http.

[2021-12-12 00:17] novemberkilo commented on #40
That makes sense thanks @houqp

I might start by sketching out the experience of using the current API from a websockets client. If you have any thoughts on this please let me know?

[2021-12-12 06:50] houqp commented on #40
One way to do that is to map the current REST endpoints into commands sent as websocket messages. We will only need a single websocket endpoint to handle all the commands.

[2021-12-14 06:25] houqp commented on #124
@chrisfw I am able to query the file you uploaded as well. Do I need to re-export it in duckdb using their default compression to reproduce the problem?

[2021-12-14 10:49] chrisfw commented on #124
Hi,

I am not sure I follow what is occurring.  Below illustrates the problem I
am experiencing.  Immediately after I export the data to a parquet (snappy)
file, I attempt to load it using columnq and it fails.  After that failure
with columnq, I loaded it successfully with duckdb and then used duckdb's
export function to create another parquet file from the same table.
columnq loads that duckdb e

[2021-12-14 10:52] chrisfw commented on #124
Apologies, I missed the odbc2parquet command line in my previous email.

PS C:\utils\database\odbc\parquet> *odbc2parquet.exe query
--column-compression-default snappy --dsn CH files_snappy.parquet "select *
from filelist"*
odbc2parquet.exe : 2021-12-10T10:12:42-05:00 - WARN - State: 01000, Native
error: 0, Message: [Microsoft][ODBC Driver Manager] The driver doesn't
support the version of ODBC be

[2021-12-15 08:28] houqp commented on #124
@chrisfw could you confirm whether the `files_snappy.zip` file you uploaded previously is exported from duckdb or through odbc2parquet? I don't have odbc2parquet setup locally, so I was using your uploaded file for reproduction.

[2021-12-15 20:35] chrisfw commented on #124
I will repeat the process to be sure and upload the resulting file as soon as I have a chance.

[2021-12-16 20:59] chrisfw commented on #124
I can no longer reproduce this issue.  The only thing I know that has changed is a machine reboot, but I am not sure how that would play into this.  Closing the issue.  Thanks for your assistance and apologies for the trouble.  I will keep an eye on this in future.

[2021-12-27 23:34] chrisfw commented on #124
Hi, just following up to let you know that I believe my problems stemmed from using powershell to execute the columnq commands.  Running the same command in powershell vs. the standard windows command shell can yield different behavior.  The examples below show the differing behavior between them when running the same columnq command on the same file.

[code]

[code]

[2022-01-27 20:14] PsypherPunk opened #132 "JSON only parses 8192 rows?"
I'm looking at the dataset located here: https://covid19.who.int/who-data/countries-by-day.json

It takes a little coercing (keys are a combination of the `dimensions` and `metrics` values, the data are in `rows`) but I've turned it into a CSV file and loaded it into `roapi` and all is good, 178,935 rows in the resulting API.

However, having similarly converted it to a more conventional JSON stru

[2022-01-27 20:15] PsypherPunk commented on #132
I've tried this again with a dummy JSON file created with more than 8,192 rows and the same thing appears to happen (though not with a similarly-size CSV file):

[code]

Then running `cargo run --bin roapi-http -- --table=test.json` and counting the rows returned:

[code]

[2022-01-28 02:35] houqp commented on #132
Thanks @PsypherPunk , I found the bug and will get it fixed by end of today.

[2022-01-28 04:14] #132 closed

[2022-01-28 07:21] PsypherPunk commented on #132
Amazing—thanks, @houqp!

[2022-01-28 16:13] PsypherPunk opened #134 "Fields omitted for null values?"
Thanks again for fixing #132. I'm still tinkering and noticed that when validating the CSV vs. JSON outputs the record-count didn't seem to tally when I was checking for certain fields.

It seems that if a field has a `null` value in the input CSV or JSON, that field is omitted from the output rather than being set to `null`.

For example:

CSV, integer values, empty field:

[code]

(CSV, string v

[2022-01-29 01:53] houqp commented on #134
Yes, this is expected behavior to save space, see https://github.com/apache/arrow-rs/blob/4b7afa6fea22b85fc6f1fe8548587c451d150440/arrow/src/json/writer.rs#L292.

What's your use-case for keeping the null value?

[2022-01-29 09:37] PsypherPunk commented on #134
Aha! Thanks, @houqp.

I suppose it's down to how representative the response is—there are now two possible states that could result in the same thing:

[code]

Is the missing `a` field now a result of the original `a` being `null`? Or the field being absent entirely? It's not possible to answer without referring back to the original data.

Not a major issue and good to know.—happy to close this. A

[2022-01-30 08:16] #134 closed

[2022-01-30 08:42] houqp commented on #134
Typically in OLTP systems, if a field is missing from the underlying data file, the query engine will backfill that column with null so the response schema is always consistent. In this case, you can consider it backfilled the missing column, then subsequently removed all the null columns to reduce payload size :)

[2022-02-05 09:38] geoHeil opened #136 "[feature] elasticsearch support"
I think integrating this not only with RDBMS like Postgres (as seen in the roadmap) but also Elasticsearch would be quite awesome.

[2022-02-05 09:53] geoHeil commented on #136
How complex would it be (being new to all rust, graphql and in particular roapi) to contribute https://github.com/graphql-compose/graphql-compose-elasticsearch a new query frontend to roapi using this graphql interface already provided by elastic?

[2022-02-05 09:58] geoHeil opened #137 "basic example fails on osx"
when toying around with the basic example from the main README document I observe HTTP URI resolution problems:

[code]
when running natively on a Catalina OsX.

However, when executed inside your docker container - it works just fine.

[2022-02-06 05:32] houqp commented on #137
looks like it might have something to do with your local dns? Are you able to load `https://raw.githubusercontent.com/roapi/roapi/main/test_data/uk_cities_with_headers.csv` in your browser? What do you get from running `nslookup raw.githubusercontent.com`?

[2022-02-06 05:37] houqp commented on #136
Am I correct that you are suggesting querying elasticsearch through ROAPI?

[2022-02-06 17:25] geoHeil commented on #136
Correct i.e. besides having CSV, parquet or delta files I think having Elasticsearch as a source would be awesome.

[2022-02-06 17:27] geoHeil commented on #137
Yes that works fine (loading https://raw.githubusercontent.com/roapi/roapi/main/test_data/uk_cities_with_headers.csv in the browser - and also via wget (as outlined above) even when manually downloading like:

`wget https://raw.githubusercontent.com/roapi/roapi/main/test_data/uk_cities_with_headers.csv`

and then later:

[code]
I still get the error

here the output for the DNS query:

[code]

[2022-02-06 23:55] magick93 opened #138 "Graphql query errors"
Hello

I'm trying to get the graphql query functionality working and am struggling to get even a basic query to work.

I've tried the following (using both the http client in vscode and the Thunder client:

[code]

But this returns the following error:
[code]

I'm using the following config:
[code]

[2022-02-07 00:42] houqp commented on #138
You need to send the query without the `query` prefix, see https://github.com/roapi/roapi#graphql-query-interface

[2022-02-07 00:44] magick93 commented on #138
Thanks, I've tried that too. I tried the following:

[code]

And
[code]

[2022-02-07 00:51] houqp commented on #136
I would be more than happy to merge a PR that adds ES support :) ROAPI is designed to have query frontend and storage backend fully decoupled, so to add a new backend like ES, you won't need to touch change any of the query logic. The existing graphql query frontend will just work out of the box for any newly added backend.

To add ES backend support, there are two ways. The easy way is to read da

[2022-02-07 00:59] houqp commented on #137
Could you give the workaround in https://github.com/instructure/canvas-data-loader/issues/3#issuecomment-352920399 a try to see if we can isolate the issue to local dns resolution?

[2022-02-07 01:12] houqp commented on #138
The following query is working for me:

[code]

[2022-02-07 01:26] magick93 commented on #138
Yeah ok, using `curl -X POST -d '{spacex_launches{ name }}' localhost:8080/api/graphql` does work.

Ok, found the problem.

This is NOT working:

[code]

This does work:

[code]

Thanks for your help.

[2022-02-07 06:39] houqp commented on #138
Interesting, so the `X-REQUEST-TYPE: GraphQL` header is what's causing the parsing error? This sounds like a bug we should fix.

[2022-02-07 06:42] magick93 commented on #138
Yes.

And, perhaps similarly, though I cannot be certain, when using the Thunder vscode extension, and using the Graphql query entry option, it also errors:

![image](https://user-images.githubusercontent.com/2173213/152737739-18f530f6-246c-45c1-a860-76a8da3e5e46.png)

But, when using when using `Text`, it works.

[2022-02-07 06:45] houqp commented on #138
We don't have any special logic to handle this header, so it's a bit surprising to me. Will dig into this when I have time.

[2022-02-07 06:48] houqp commented on #138
Actually, I am not able to reproduce this with the following curl command:

[code]

I think it probably has something to do with the query payload. Do you have a way to produce this with a command line tool? I don't have vscode installed on my end.

[2022-02-07 06:49] geoHeil commented on #137
Strangely, adding the following entry to the `/etc/hosts` file:

[code]

does not solve the problem (in fact when enabled also prevents wget of downloading the CSV file).

But I also do not fully understand why it should/would help: as written above the problem also occurs when manually executing wget, downloading the CSV so it no longer resides on github but is **local**.  But:

[code]

it would

[2022-02-07 06:53] geoHeil commented on #136
Is there any chance to get i.e. the existing graphql interface (linked above) to play nicely? Or would a full-blown integration be required?

[2022-02-07 06:57] magick93 commented on #138
I cant reproduce it with `curl`. Though I did make it work in vscode using `X-REQUEST-TYPE: 'GraphQL'`. Rather than `X-REQUEST-TYPE: `GraphQL`.

What would help is if its possible to enable a verbose mode, that can log all requests and responses.

[2022-02-08 08:35] alperyilmaz opened #139 "excel support example or clarification"
First of all, kudos and bravo for such a great idea!

From the documentation, it mentions Excel is supported. When I tried to use `.xls` or `.xlsx` files I got following error: `Error: Invalid table URI: unsupported extension in uri`

Do Excel files supported? Is there an example code about using Excel files? I checked Datafusion site as well but couldn't find one.

[2022-02-08 08:48] tiphaineruy commented on #139
If you look at the README you'll see that the implementation for Excel is not done.
Your best bet is just exporting the data as CSV.

[2022-02-08 09:11] alperyilmaz commented on #139
oh I see.. I totally missed that.. looking at the diagram on top of README I thought it was supported..
Looking at the implementation list, Excel support is coming in near future I guess..

[2022-02-08 09:11] #139 closed

[2022-02-14 04:01] magick93 opened #140 "google sheets - some sheets with empty cells cause error - others do not"
I'm encountering a strange error.

I have two google sheets - and therefore two roapi tables. Both sheets have cells that are empty.

One sheet causes the below error. And this error is solved when I add a value to cells that are empty.
The other sheet has cells that are empty (within the grid of values) and it doesnt cause any errors.

# Error

[code]

[2022-02-14 04:19] houqp commented on #140
Interesting, this is caused by https://github.com/roapi/roapi/blob/47a17f069647dd7e9ff2b7c721b1a2d4185d24d2/columnq/src/table/google_spreadsheets.rs#L196.

Which means the API response we got from google excluded that empty cell: https://github.com/roapi/roapi/blob/47a17f069647dd7e9ff2b7c721b1a2d4185d24d2/columnq/src/table/google_spreadsheets.rs#L335-L339

The code was written with the assumption

[2022-02-14 04:22] houqp commented on #138
You can run roapi in debug mode by setting `RUST_LOG=debug` through environment variables. However, my guess is it won't be very helpful in this case since it will just log the request with 400 code. Are you able to trigger an error with `REQUEST-TYPE: Foo` too in vscode?

[2022-02-14 04:29] magick93 commented on #138
I cant trigger the error - either using curl or vscode - as it happens when I run the cli command to start roapi.

You should be able view https://docs.google.com/spreadsheets/d/1V0lB_IMmYic7enOxirXYRs5AsrM5XOMXVeu9AF5efD8/edit?usp=sharing.

[2022-02-14 04:30] magick93 commented on #140
You should be able view https://docs.google.com/spreadsheets/d/1V0lB_IMmYic7enOxirXYRs5AsrM5XOMXVeu9AF5efD8/edit?usp=sharing.

[2022-02-14 04:54] magick93 commented on #140
I suspect it has to do with sheets that contain, or used to contain, cells that had links (href).

[2022-02-15 03:52] magick93 commented on #140
Also, calculated values are not returned when calling the roapi.
See https://docs.google.com/spreadsheets/d/1rEM_BmB343nNMOOvv1ymUm2TEPmMUlvo8VSjSw-eAmM/edit#gid=1754317343

But, these columns are in the schema.

[2022-02-15 05:34] magick93 commented on #140
Sorry. The last comment was definitely a mistake. Computed values are working as expected.

[2022-02-15 05:47] houqp commented on #140
[code]

[2022-02-15 05:50] houqp commented on #140
The empty cell issue will be fixed in PR 141.

[2022-02-15 06:23] #140 closed

[2022-02-15 23:22] magick93 opened #142 "Add support for Or"
Hello

I'm trying to do a graphql query where I can an `or` filter.

The following is working:
[code]

But if I want to query on multiple `Ref` values I'm unable to.

I've tried the following:

[code]

And
[code]

[2022-02-18 08:16] houqp commented on #142
[code]

The above should be easy to support, is this what you needed? The or operator will be more complicated and requires a bit of design on how to properly handle it, including nested predicates.

[2022-02-22 08:44] tiphaineruy opened #143 "Parquet Str"
**Describe the bug**

When reading a parquet file:
thread 'tokio-runtime-worker' panicked at 'Unsupported datatype: LargeUtf8',
.cargo/registry/src/github.com-1ecc6299db9ec823/arrow-6.3.0/src/json/writer.rs:490:13

**To Reproduce**

http request with json response on a parquet str field

**Expected behavior**

Json properly returned

**Additional context**

Parquet str are read as Large_utf8 and t

[2022-02-22 09:15] tiphaineruy opened #144 "datafusion-objectstore-s3"
Currently ColumnQ uses rusoto

A lot has been done with Object stores on datafusion and I'm wondering if it could be interesting to move to:
https://github.com/datafusion-contrib/datafusion-objectstore-s3

[2022-02-23 07:11] houqp commented on #144
Yes, PRs welcome :) I think we need to update datafusion to the latest version first. I am happy to provide guidance for anyone who is interested in this.

[2022-02-23 07:23] houqp commented on #143
This should be a simple fix upstream by adding a branch for LargeUtf8 around https://github.com/apache/arrow-rs/blob/a69f0d119c67ef19e6a61acd24359de1b4ed2e10/arrow/src/json/writer.rs#L161. @tiphaineruy are you interested in sending a PR over?

[2022-02-23 11:35] tiphaineruy commented on #143
@houqp
https://github.com/apache/arrow-rs/pull/1358

[2022-02-23 18:09] tiphaineruy commented on #144
Started Bumping version  to allow further work on S3 and getting latest datafusion improvement.

Stopped because I'm not sure what to do with your patches

[code]

That reference your Forks.

[2022-02-23 18:25] houqp commented on #144
You can ignore my fork, I don't have any custom datafusion patch there anymore :) Using the latest upstream master commit should work just fine.

[2022-02-23 18:29] houqp commented on #143
Thank you @tiphaineruy , that was quick :D

[2022-02-23 19:46] Dandandan commented on #144
@tiphaineruy FYI, I upgraded delta-rs to the latest DataFusion version (main branch, latest commit).

[2022-02-23 19:50] tiphaineruy commented on #144
Haha Thanks, I was wrangling with cargo and was going to open an isue in delta

[2022-02-24 03:46] magick93 commented on #142
Yes, thanks.

Here is good link on Graphql `and` and `or` operators - https://dgraph.io/docs/graphql/queries/and-or-not/

[2022-02-24 05:19] houqp commented on #144
just in time update from @Dandandan :D

[2022-02-24 08:16] tiphaineruy commented on #144
I've bump most of what I could in the dependencies.
I think this can be merged.
I've almost halved the querytime on some of my request with the latest datafusion  🎉 .

I've noted some issues in the pr that might need an issue opened in datafusion.

The build time has exploded though. Might have to feature gate providers at some point.

[2022-02-24 17:30] #143 closed

[2022-02-25 07:22] tiphaineruy opened #147 "Bug: Simd test failing"
Simd test are failing because of the case insensitive requests

[2022-02-25 07:26] houqp commented on #147
Thanks @tiphaineruy for filing this, FYI I just pushed a commit to fix the clippy errors in case you plan to work on fixing this.

[2022-02-25 07:35] tiphaineruy commented on #147
@houqp  Saw that, just rebased.

[2022-02-25 11:15] #144 closed

[2022-02-26 08:09] #147 closed

[2022-03-03 20:43] cwiese opened #151 "feature question"
Can we get access to the datafusion/arrow underlying data - to make updates?   This is an awesome project - however - we need to make updates and see the new queries reflect the update.

[2022-03-09 03:34] cymqqqq opened #152 "pip install error"
the problem as the follows:
When I execute "pip install roapi-http":
Collecting roapi-http
  Could not find a version that satisfies the requirement roapi-http (from versions: )
No matching distribution found for roapi-http
so, how to fix it?

[2022-03-09 03:44] houqp commented on #152
could you share with us the OS you are using?

[2022-03-09 03:49] cymqqqq commented on #152
ubuntu 18.04 x86_64

[2022-03-09 04:00] houqp commented on #152
what python version? all supported python+arch combinations could be found at https://pypi.org/project/roapi-http/0.5.3/#files.

alternatively, you could use cargo install to install the binary.

[2022-03-09 04:07] cymqqqq commented on #152
yes, I use cargo install the binary, but another exception comes out:
error: failed to run custom build command for `snmalloc-sys v0.2.28`

Caused by:
  process didn't exit successfully: `/tmp/cargo-installd6AOEE/release/build/snmalloc-sys-eaf20bb3e3427845/build-script-build` (exit status: 101)
  --- stdout
  CMAKE_TOOLCHAIN_FILE_x86_64-unknown-linux-gnu = None
  CMAKE_TOOLCHAIN_FILE_x86_64_unknow

[2022-03-09 05:00] houqp commented on #152
I am guessing this might have something to do with cmake version being too old? What cargo command did you use to install roapi? snmalloc is an optional feature, so you could try installing it without this feature.

Alternatively, you could try download the prebuilt binaries at https://github.com/roapi/roapi/releases/tag/roapi-http-v0.5.3.

python 3.6.9 + ubuntu 18.04 x86_64 should work for the bi

[2022-03-09 05:08] cymqqqq commented on #152
Awesome!, thx for answering, I update the pip version and it works!
But……When I run "roapi-http":
Illegal instruction (core dumped)
I don't know why.

[2022-03-09 05:37] houqp commented on #152
What cpu do you have? the prebuilt binaries are built with `target-cpu=skylake` argument, which means it won't work for older CPUs. Looks like it's best for you to build it from source using cargo either with a newer version of cmake or without the snmalloc feature flag. ubuntu 18.04 is a very old version unfortunately, so probably the system dependencies are also very old.

[2022-03-09 06:06] houqp commented on #151
it's all doable in theory, would be good to learn more about what kind of updates do you have in mind.

[2022-03-09 07:26] cymqqqq commented on #152
Hi bro, I follow your advice and then update the cmake version.
Finally, it works!!
Best wishes for U! :)

[2022-03-09 07:32] houqp commented on #152
awesome, good to know!

[2022-03-09 07:32] #152 closed

[2022-03-09 08:12] cymqqqq opened #153 "reload issue"
Hello again, I have some questiosn here:
Do we have some operations like "load" that can load the new data generated every day?
2022-03-09T07:17:09Z INFO  roapi_http::api] loading `uri(funding_rate/)` as table `funding_rate`
[2022-03-09T07:17:09Z INFO  roapi_http::api] registered `uri(funding_rate/)` as table `funding_rate`
 I perform some experiments that the results just display the current data

[2022-03-10 17:48] #102 closed

[2022-03-10 17:48] #153 closed

[2022-03-10 17:49] houqp commented on #151
closing this since it's a duplicate of https://github.com/roapi/roapi/issues/55 :)

[2022-03-10 17:49] #151 closed

[2022-03-11 02:05] cymqqqq commented on #55
an additional query parameter, say, maxAge that triggers roapi to rescan / reload the files
a configuration option that defines some sort of update interval
subscribe to table source update event if supported by the table/source type
expose to endpoint/webhook to allow external system to trigger refresh
I here again
Did any of the above four options has implemented? :)

[2022-03-11 05:44] houqp commented on #55
4. is under review at https://github.com/roapi/roapi/pull/154. The other options haven't been implemented yet, but PRs welcome.

[2022-03-11 05:47] cymqqqq commented on #55
thx bro :)

[2022-03-15 07:43] houqp opened #155 "Hide table update endpoint behind a feature flag"
By default, we should start roapi-http with update endpoint disabled so for read-only users, they won't need to pay the locking overhead and spend extra efforts to secure the write endpoint.

[2022-03-15 07:53] zemelLeong commented on #155
How to judge whether it is read-only? Add a startup parameters?

[2022-03-15 07:59] zemelLeong commented on #155
I'll try for this.

[2022-03-16 05:31] houqp commented on #155
yeah, we can add a new flag to roapi-http cli :)

[2022-03-17 06:01] houqp commented on #144
@tiphaineruy i fully support introducing more feature gates in dataufsion :+1:

[2022-03-18 14:20] zemelLeong opened #157 "I want to add MySQL support, what ORM library is better?"
I have only used diesel. I'm not sure if it is appropriate to use here.

[2022-03-18 16:57] houqp commented on #157
I recommend giving https://github.com/sfu-db/connector-x a try ;) It supports all major relational databases.

[2022-03-19 18:37] houqp commented on #55
Thanks to @zemelLeong , we now have option 4 fully implemented with a solid infrastructure to support runtime table updates. option 1, 2 and 3 should be pretty trivia to implement now if we reuse the same infrastructure.

[2022-03-22 23:03] houqp commented on #155
fixed by @zemelLeong in #154

[2022-03-22 23:03] #155 closed

[2022-04-07 07:45] houqp opened #163 "Document support for sqlite"
Now that @zemelLeong has added support for both mysql and sqlite, we should make sure to update docs and design diagram to reflect that.

[2022-04-13 03:43] zemelLeong commented on #163
Seems that this https://github.com/roapi/docs.git needs to be updated. I'll do that in this weekend.

[2022-04-19 09:59] alitrack commented on #58
[delta-iris_partition.zip](https://github.com/roapi/roapi/files/8511947/delta-iris_partition.zip)
here is the example, create by PySpark.

I tried python version deltalake, it works.

[2022-04-19 11:47] alitrack opened #165 "delta table add Time Travel support"
if possible add Time Travel support, deltalake supports.

[2022-04-21 04:11] Raidus opened #166 "Issue with Int64 values"
Hi,

for `Int64` columns I am not able to query the exact value. Following query
[code]
gives an empty array.

But when using greater than operator
[code]
I'll get results

[code]

Metadata of parquet file

[code]

Tested with `SQL` and `REST` API. Both behave the same.

Best

[2022-04-21 06:12] houqp commented on #166
Interesting, @Raidus do you have a minimal reproducible parquet file that you can share as well?

[2022-04-21 06:43] Raidus commented on #166
@houqp sure. Created a minimal file: [Link to parquet file](https://s3.eu-central-1.wasabisys.com/dz-shared/wilhelm/roapi_example_bigint.parquet)

[2022-05-09 00:55] houqp commented on #165
Yes, delta-rs already supports time travel. The quickest way to add this is to add a dedicated query parameter to specify time or version for a table we want to query.

[2022-05-18 14:59] geoHeil opened #167 "Metadata & governance"
Is it possible to supply additional metadata for each column i.e. perhaps datatypes, semantic description in the YAML configuration for each dataset https://roapi.github.io/docs/config/config-file.html ?

[2022-05-23 07:54] houqp commented on #167
data type is already supported, for semantic description, what's your use-case?  is it for documentation purpose?

[2022-05-24 12:10] geoHeil commented on #167
Hi, yes. it would be great for someone exploring the data really understand what the values served to mean i.e. if the values refer to degrees in Celsius or Fahrenheit i.e. to understand the units and semantics of the values.

[2022-05-29 21:21] houqp commented on #167
I see, so this is for the end users and you want the semantic description to show up in the schema api response?

[2022-05-30 03:44] houqp commented on #166
Very interesting bug, looks like something is off with datafusion's filter operator, I will dig into it more. Thanks a lot for surfacing the edge-case here!

[2022-05-30 11:16] RalfNorthman opened #170 "Error parsing addr field in yaml-file"
I get a yaml parsing error on launch with version 0.7.0, but a successful launch with 0.6.0 with the same yaml-file.
[code]
Is this a bug or is the documentation for the yaml-configuration not updated? Or am I just missing something?

My terminal session:
[code]

The yaml-file in question:

[code]
I'm on Windows and used the precompiled binaries.

[2022-05-30 17:12] houqp commented on #170
Hi @RalfNorthman there is a breaking change in 0.7.0 because we support more than the http protocol now in our query frontend, you will need to change the config to:

[code]

[2022-05-31 00:59] #166 closed

[2022-05-31 01:00] houqp commented on #166
Fix for this landed in master, will be included in the upcoming 0.7.1 release.

[2022-05-31 07:05] atomotic opened #173 "pre-built binary and database feat flag"
the pre-built binary is not supporting database?

[code]

would you explain in README how to enable it?

I'm new to rust, after some searching i got it working with:
[code]

thanks

[2022-05-31 07:54] atomotic opened #174 "SQLite and TEXT column"
opening an SQLite database with a TEXT column in schema (ofted used to store raw json) gives this result:

[code]

[2022-05-31 07:54] houqp commented on #173
Good call, we should definitely enable all features for our prebuilt binaries. Feel free to send us a PR. https://github.com/roapi/roapi/blob/main/.github/workflows/roapi_release.yml is the file that manages the release.

[2022-05-31 22:48] RalfNorthman commented on #170
Yeah, that works, thanks!

And now I see that the readme is updated, great!

[2022-05-31 22:48] #170 closed

[2022-06-01 08:19] geoHeil commented on #167
correct

[2022-06-02 16:09] houqp commented on #174
I will take a look into it this weekend, should hopefully be a pretty straight forward type conversion fix.

[2022-06-22 12:59] Anonyfox opened #175 "MongoDB support"
It seems that roapi can fetch data _directly_ from supported RDBMS (like postgres) as well as slurping things from JSON files - I wonder if it would be possible to make MongoDB as a direct datasource available? That would be awesome and even unlock running SQL queries over badly designed mongo collections!

[2022-06-22 15:35] houqp commented on #175
Yes, it's all doable, someone just need to write some glue code to convert documents from mongodb into the arrow format and we will get all the query capability for free ;)

[2022-06-30 10:56] tiphaineruy opened #176 "Compile with simd feature"
I wanted to try the sqlite table feature,

Realised that the feature is not enabled by default on the build pushed to brew.

And ran into this error while building the lib with the  following command:

[code]
and got:

[code]

Project compiles fine without the  simd feature.

Probably a macos quirk.

[2022-07-04 00:31] tekumara opened #177 "Postgres support"
Would be fantastic to support reading from Postgres in the data layer.

[2022-07-17 23:29] houqp commented on #177
the conntector-x dependency we are using right now already has postgres support, so someone just need to enable that :D

[2022-07-18 20:51] geoHeil opened #178 "database support"
For 0.7.1 and a configuration of:

[code]

In any case I get:

[code]

back as a result - how can I tell roapi to actually use either postgres or MySQL? In both cases the table is not identified

[2022-07-19 05:50] geoHeil commented on #42
[code]

works for me.

However, when trying to filter the served parquet based on the time column  I get an error like:
[code]

any SQL database would act differently. Furthermore, I get the same error also on the graphql API.

How can I filter a timestamp column?

[2022-07-19 05:52] geoHeil commented on #42
though

[code]

seems to work

[2022-07-21 07:02] houqp commented on #42
yeah, for now you will need to manually cast from string to timestamp to make the comparison work. we could add automatic type casting in datafusion, or maybe it's already added. a lot of changes have happened upstream since our last datafusion upgrade!

[2022-07-21 14:37] geoHeil commented on #178
@houqp I was trying to work with the provided examples - but could not get roapi to load from Postgres or from MySQL.

[2022-07-21 21:31] jpaye opened #179 "Does ROAPI do row group pruning on parquet files stored on disk?"
Hi,

We are trying to use ROAPI to efficiently run queries against Parquet files. These files are large, so storing them in-memory is not an option. We were hoping that ROAPI/Datafusion would use predicate pushdown/"pruning" on the row groups to speed up our queries, but creating more row groups and sorting our queried columns only seemed to slow queries down.

Just wondering if ROAPI is expected

[2022-07-22 09:13] geoHeil commented on #178
This:

[code]

fails for me with:

[code]
I am using roapi from homebrew with version: 0.7.1.

[2022-07-22 13:21] chrisfw opened #180 "roapi postgres support - JDBC driver fails due to issuing Postgres session command to set extra float digits"
Hi,
This appears to be a command that is automatically issued by the postgres JDBC driver and the error returned by roapi prevents a successful connection in DBeaver

[code]
Can support for this statement be added even if it is a no-op?

Thanks,
Chris Whelan

[2022-07-22 14:07] chrisfw opened #181 "Postgres support, enable information_schema related functionality"
It would be great if roapi enabled information_schema queries and related commands through the postgres interface.  columnq supports this, but currently the errors below occur when attempting to access the database table metadata in roapi

C:\Users\cwhelan>psql -h 127.0.0.1
psql (14.4, server 13)
[code]

[2022-07-26 15:11] geoHeil commented on #178
I do observe the same error from the roapi docker container. Do you think you could publish the binary with DB support enabled?

[2022-07-26 15:14] geoHeil commented on #178
related/duplicate of https://github.com/roapi/roapi/issues/173

[2022-07-26 15:26] geoHeil commented on #173
https://github.com/roapi/roapi/pull/182 hopefully should be enabling this by default

[2022-07-27 12:23] geoHeil commented on #178
Even after compiling my own version of roapi with database support:

[code]

persists.

When using the `--table` it works then.

[2022-08-08 05:30] houqp commented on #180
yeah, good idea, should parse and ignore this command :+1:

[2022-08-08 07:59] houqp commented on #178
Thanks @geoHeil for the report, it should be fixed by https://github.com/roapi/roapi/pull/183

[2022-08-13 18:55] #178 closed

[2022-08-22 06:06] 100mi opened #185 "Connection error for Wasabi storage(AWS S3 bit-compatible)"
### Title
Issue while connecting to [Wasabi storage](https://wasabi.com/) while following the documentation as mentioned for [BLOB-s3](https://roapi.github.io/docs/config/blob-store.html#s3)

### Description
- All the required env variables were regarded to Access key, Secret key and region were already set as env variables.
- The following yaml config file was used first as mentioned below as `s3

[2022-08-23 07:37] houqp commented on #185
thanks for the report! could you also share with me what environment variables you set for the S3 auth? specifically, have you tried setting the `AWS_ENDPOINT_URL` environment variable?

[2022-08-23 07:37] houqp commented on #185
code that handles endpoint overwrite FWIW:
https://github.com/roapi/roapi/blob/5972467cbb59985b9723aa38a32ea61a8751ac30/columnq/src/io/s3.rs#L204

[2022-08-23 10:05] dantodor opened #186 "GCS S3-type access"
As per Google's documentation:
https://cloud.google.com/storage/docs/aws-simple-migration
GCS bucket can be made to appear from the client's perspective as S3 bucket.
I did everything Google suggested in that page, and configured the following env variables before starting roapi:
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_ENDPOINT_URL="storage.googleapis.com" ( tried with "https://" too)

[2022-08-25 05:41] houqp commented on #186
Thanks Dan for the report, could you give it another try after https://github.com/roapi/roapi/pull/187 gets merged? For the endpoint, you should provide a full URI with `https` scheme.

It would be helpful if you can run it with `RUST_LOG=debug` to help gather more debug info.

[2022-08-25 05:42] #185 closed

[2022-08-25 14:34] dantodor commented on #186
I'll do that. I just realized I forgot to set the region too.I presume it's AWS_REGION ?

[2022-08-25 23:20] houqp commented on #186
that's correct

[2022-08-28 14:10] sultra opened #188 "“docker run” doesn't work，just exit"
follow the readme guide and "use docker" part

[code]
in Ubuntu 20.04.4，docker 20.10.17 run that scripts and doesn't work，just exit fast，no logs,no errors out，no response anymore

May I ask What I miss something with use docker running？Is enable any docker special feature？

[2022-08-29 05:53] houqp commented on #188
I am not able to reproduce this error, @sultra are you running the docker command inside a virtual machine? what is the exit code you got?

[2022-08-30 12:44] sultra commented on #188
yes, docker run in  virtual machine. there is no exit code

[2022-09-24 15:56] houqp commented on #188
This is likely the same issue as https://github.com/roapi/roapi/issues/102#issuecomment-967010769

[2022-09-24 17:20] jcubic opened #189 "multiple packages with binaries found: columnq-cli, roapi"
This command:

[code]

returns this error:

[code]

Maybe the commands should be:

[code]

But this after quite some time an error:

[code]

[2022-09-24 18:28] digitalsanctum opened #190 "Upper case CSV field names fail when querying via SQL"
It seems upper case field names are being converted to lower case:

[code]

Querying the above:
[code]

Results in:
[code]

If I change the `Ticker` header to `ticker`, then the query works as expected:
[code]

The expectation is that queries using the original case/format should work. Thoughts?

[2022-09-24 18:49] houqp commented on #190
This is expected behavior because datafusion (the query engine we use) strives to be compatible with Postgres. To use upper case column name you will need to quote it :)

[2022-09-24 18:49] #190 closed

[2022-09-24 18:49] houqp commented on #190
see https://stackoverflow.com/questions/20878932/are-postgresql-column-names-case-sensitive

[2022-09-24 18:55] houqp commented on #189
Thanks for the report, I have fixed the instruction in the readme :+1:

[2022-09-24 18:55] #189 closed

[2022-09-24 18:56] digitalsanctum commented on #190
Kind of lame when the error message indicates upper case fields are valid: `Valid fields are 'tickers.Ticker',...`

[2022-09-25 01:01] houqp commented on #190
I agree with you! Since we have full access to the schema, we could check the case and return a better error message here than what postgres does. PRs welcome, it should be a fairly straightforward change.

[2022-09-25 02:22] houqp commented on #188
closing this for now, let me know if the fix in 102 doesn't work for you.

[2022-09-25 02:22] #188 closed

[2022-09-25 19:09] herbygillot opened #192 "Do `columnq` build instructions need to be updated?"
The current instructions say:

[code]

But I'm getting:

[code]

Should it be `--bin columnq` instead?

That's what I see in `columnq-cli/Cargo.toml`:
https://github.com/roapi/roapi/blob/021332de5d75deaff7641b47e60ac224332ca287/columnq-cli/Cargo.toml#L10-L11

[2022-09-25 22:22] houqp commented on #192
Hi, you might be reading an old version of the readme, the instruction has been fixed yesterday :)

[2022-09-25 22:22] #192 closed

[2022-09-28 05:38] houqp commented on #177
No one is working on this at the moment, @alefminus please feel free to pick this up!

[2022-09-28 08:13] leopku commented on #178
Same error as 0.8.0 install by homebrew in macOS

[code]

My env
[code]

HW
[code]

[2022-09-29 06:36] houqp commented on #177
Can you paste the exact error stack trace here? I am curious what code path is creating a nested tokio runtime here.

[2022-09-29 06:45] houqp commented on #178
@leopku I think the homebrew formulae needs to be added to add the database flag since it's not enabled by default.

[2022-09-29 16:23] geoHeil commented on #178
https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/roapi.rb#L22 will require setting https://github.com/roapi/roapi/pull/182/files#diff-8aa42ebe3a4357d4bac56925d8eda99a0a36556b008e4b198a819c1a44ee2642R143 i.e. the features of:

[code]

[2022-09-29 16:28] geoHeil commented on #178
@leopku https://github.com/Homebrew/homebrew-core/pull/111999 I have created this PR - can you help testing it?

[2022-09-30 02:49] leopku commented on #178
@geoHeil Sure。How can I testing it?

[2022-09-30 11:58] geoHeil commented on #178
https://github.com/Homebrew/homebrew-core/blob/master/CONTRIBUTING.md

[code]

would have been the instructions.

No you are using the wrong version of rust I guess. You must use Rust nightly of some specific date.

[2022-09-30 12:00] geoHeil commented on #178
nightly-2022-01-03 I believe.

https://github.com/roapi/roapi/blob/main/Dockerfile#L1 is using a newer version by now:

2022-09-24

[2022-09-30 12:04] geoHeil commented on #178
@houqp it looks like apple silicon is failing.

@leopku was trying rust stable and failed.

https://github.com/Homebrew/homebrew-core/blob/2ec9befee47baa451fdad5f66c94134ad5ab69fd/Formula/roapi.rb#L17 looks like the brew formula is also using stable - I guess the nightly version must be chosen there as well.

[code]

https://github.com/Homebrew/homebrew-core/actions/runs/3152983900/jobs/5128991056

[2022-09-30 15:14] leopku commented on #178
@geoHeil Still failed.

[code]

[code]

[2022-09-30 15:28] geoHeil commented on #176
see the issue over there https://github.com/roapi/roapi/issues/178 perhaps we can merge the discussion?

[2022-10-01 08:26] dantodor commented on #186
@houqp  Okay, so I found a little bit of time to play around with it. Still no luck.

Config file looks like this:

[code]

I'm starting `roapi` like this:

[code]

Result:

[code]

Any ideas what else I could try?

Thank you!

[2022-10-02 09:21] hankei6km opened #197 "LENGTH() of columnq-cli returns wrong value by passing multple code points char(ie. emoji)"
Hi.
I am trying columnq-cli with data that contains Japanese characters.
And I think it's a good tool.

However, `LENGTH()` (and `CHAR_LENGTH()`) returns an wrong value for emoji, etc.

## Environment

[code]

[code]

## Steps to reproduce

`chklen.json`([chklen.zip](https://github.com/roapi/roapi/files/9692109/chklen.zip))
[code]

![chklen](https://user-images.githubusercontent.com/1386689/193446

[2022-10-03 10:07] PsypherPunk commented on #98
Ran into a similar issue and I can replicate this using a real S3 bucket.

If you attempt to pass through the file's location _with_ spaces:

[code]

…then `roapi` warns you:

[code]

If you then URI-encode it:

[code]

…then `roapi` parses the URI correctly but you run into the `no parquet file found` error.

Using `RUST_LOG=debug`, I _think_ I can see what's happening:

[code]

The spaces, encod

[2022-10-04 04:35] leopku commented on #178
Just back from holiday. Sorry for reply so late.

I could not build from source.

Cloning this repo and running `cargo build --release --features "simd,database"`, got result as below:

[code]

[2022-10-04 06:50] houqp commented on #178
@leopku you will need to install cmake for the snmalloc feature, which is enabled by default. Alternatively, we can turn it off by turning off all the default cargo features.

[2022-10-11 08:30] ivbeg opened #199 "JSON lines files (aka NDJSON) support file extension"
A lot of NDJSON files have .jsonl file extension by default. Right now if you launch `roapi --table "somefilename.jsonl"` ROAPI will not recognize this file type. Please add it's support too.

[2022-10-15 06:31] #199 closed

[2022-10-16 00:16] github-actions[bot] opened #203 "RUSTSEC-2021-0122: Generated code can read and write out of bounds in safe code"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `flatbuffers`                      |
| Version             | `2.1.2`                   |
| URL                 | [https://github.com/google/flatbuffers/issues/6627](https://github.com/google/flatbuffers/issues/6627) |
| Date

[2022-10-16 00:16] github-actions[bot] opened #204 "RUSTSEC-2021-0130: Use after free in lru crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `lru`                      |
| Version             | `0.6.6`                   |
| URL                 | [https://github.com/jeromefroe/lru-rs/issues/120](https://github.com/jeromefroe/lru-rs/issues/120) |
| Date                |

[2022-10-16 00:16] github-actions[bot] opened #205 "RUSTSEC-2022-0040: Multiple soundness issues in `owning_ref`"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `owning_ref`                      |
| Version             | `0.4.1`                   |
| URL                 | [https://github.com/noamtashma/owning-ref-unsoundness](https://github.com/noamtashma/owning-ref-unsoundness) |
| Date

[2022-10-16 00:16] github-actions[bot] opened #206 "RUSTSEC-2020-0071: Potential segfault in the time crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `time`                      |
| Version             | `0.1.44`                   |
| URL                 | [https://github.com/time-rs/time/issues/293](https://github.com/time-rs/time/issues/293) |
| Date                | 2020-11-

[2022-10-16 00:16] github-actions[bot] opened #207 "RUSTSEC-2021-0139: ansi_term is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `ansi_term`                      |
| Version             | `0.12.1`                   |
| URL                 | [https://github.com/ogham/rust-ansi-term/issues/72](https://gith

[2022-10-16 00:16] github-actions[bot] opened #208 "RUSTSEC-2021-0141: dotenv is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `dotenv`                      |
| Version             | `0.15.0`                   |
| URL                 | [https://github.com/dotenv-rs/dotenv/issues/74](https://github.com/

[2022-10-16 00:16] github-actions[bot] opened #209 "RUSTSEC-2020-0056: stdweb is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `stdweb`                      |
| Version             | `0.4.20`                   |
| URL                 | [https://github.com/koute/stdweb/issues/403](https://github.com/kou

[2022-10-16 00:16] github-actions[bot] opened #210 "RUSTSEC-2018-0017: `tempdir` crate has been deprecated; use `tempfile` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `tempdir`                      |
| Version             | `0.3.7`                   |
| URL                 | [https://github.com/rust-lang-deprecated/tempdir/pull/46](https://g

[2022-10-16 00:16] github-actions[bot] opened #211 "RUSTSEC-2022-0048: xml-rs is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `xml-rs`                      |
| Version             | `0.8.4`                   |
| URL                 | [https://github.com/netvl/xml-rs/issues](https://github.com/netvl/xm

[2022-10-16 03:55] togami2864 commented on #210
Already fixed in #202

[2022-10-16 11:27] RalfNorthman opened #212 "Changing the default response serialization in the config.yaml"
For certain use-cases [setting an http header](https://roapi.github.io/docs/api/response.html) is awkward or impossible, e.g. when specifying the data source in a vega or vega-lite visualization ([you can set what format to parse as, but not the header](https://vega.github.io/vega-lite/docs/data.html#url)). Therefore it would be nice if it were possible to change the default response serialization

[2022-10-17 05:38] houqp commented on #212
Good idea, I think the change should be pretty straightforward. We can add a config and pass it all the way to: https://github.com/roapi/roapi/blob/193ea79878ad1eda48210356cc0012b554cbce10/roapi/src/api/mod.rs#L30

As a quick workaround, we can also put a reverse proxy in front of roapi to set the content-type header by default.

[2022-10-23 00:09] houqp commented on #197
Thanks for the report @hankei6km , I believe this is expected behavior because `CHAR_LENGTH` counts number of bytes. If you run the same query in MySQL, you will get the same result.

[2022-10-23 02:48] #203 closed

[2022-10-23 02:49] houqp commented on #203
transient dependency

[2022-10-23 02:49] houqp commented on #204
transient dependency

[2022-10-23 02:49] houqp commented on #205
transient dependency

[2022-10-23 02:49] #205 closed

[2022-10-23 02:49] houqp commented on #204
transient dependency

[2022-10-23 02:49] #204 closed

[2022-10-23 02:50] houqp commented on #206
transient dependency

[2022-10-23 02:50] #206 closed

[2022-10-23 02:51] houqp commented on #207
transient dependency

[2022-10-23 02:53] #207 closed

[2022-10-23 02:53] houqp commented on #211
transient dependency

[2022-10-23 02:53] #211 closed

[2022-10-23 02:53] houqp commented on #209
transient dependency

[2022-10-23 02:53] #209 closed

[2022-10-23 08:51] #210 closed

[2022-10-23 10:12] #212 closed

[2022-10-26 02:49] dantodor commented on #186
To add a little bit more context, this works:
[code]

I know, it's Python, but wanted to make sure it works from a programming language.

[2022-10-26 10:09] #197 closed

[2022-10-26 23:38] rupurt opened #217 "GraphQL subscriptions"
Howdy 👋

Absolutely love the project. Are there are plans to support GraphQL subscriptions? I see a lot of potential to have rock solid, performant subscriptions with Delta Lake Tables. But it would also be handy to have a polling fallback mechanism like `liveQuery` implemented in other projects like Hasura.

[2022-11-03 07:21] elliot14A opened #219 "Datafusion Upgrade from v12 to v13 is failing with errors"
Hello, I have tried to the update current version of datafusion used by columnq from v12 to v13 but i was unsuccessful to do so .Here is the error that I'm was facing while upgrading:

[code]
I am a bit new to both Rust and ROAPI. I have tried to implement deserialization as suggest by the compiler but I was running into more errors while doing so. I may be missing something simple, any help or su

[2022-11-03 17:20] leodido opened #220 "GraphQL/REST query operator (limit) not working"
While trying this fine art piece of software I hit a bug.

Namely, the `limit` argument when using the GraphQL endpoint doesn't work. In fact, the following query returns all the records of the `uk_cities` table.

[code]

May have to do with the recent upgrade to Datafusion 12?

I'm using v0.8.0

[2022-11-03 17:25] leodido commented on #220
Notice that the only difference from your README examples is that I'm dynamically loading the `uk_cities` table from the internet.

Like so:

[code]

[2022-11-04 14:47] elliot14A commented on #219
I have researched a bit on how to implement the Deserialization and tried the following approach:
[code]
Am I in the right path or am I missing anything?

[2022-11-04 14:56] elliot14A commented on #220
Hello, I faced similar issue. I just went through the columnq code and found out that in all the querying methods the skip and limit parameters were swapped.
For example in the file columnq/src/query/rest.rs in the function table_query_to_df you will find this:

[code]

change it to:
[code]
If you make these changes it will work as required!!

[2022-11-08 04:58] #220 closed

[2022-11-08 06:00] whatrocks commented on #137
Hi @geoHeil. Have you tried this more recently? Wondering if this has been resolved for you or if this remains an open issue for you. I'm trying to clean up and prioritize open issues here. Thanks.

[2022-11-09 10:33] geoHeil commented on #137
CLI always fails on osx (for me) but if you feed roapi the configuration file then it usually works fine.
Furthermore, also due to the database issues I would recommend most to use roapi in the docker container

[2022-11-09 22:53] whatrocks commented on #137
Okay, thanks for feedback. I am inclined to close this issue for now given that you do indeed have a workaround and this cannot be reproduced. We can reopen if this emerges as an issue for more people Sound good to you, @geoHeil ? Thanks again!

[2022-11-10 16:11] geoHeil commented on #137
ok

[2022-11-10 16:11] #137 closed

[2022-11-15 15:28] elliot14A opened #224 "`use_memory_table: false` option doesn't work for csv"
Currently not loading large datasets into memory using the option use_memory_table: false doesn’t work for CSV. It works fine for parquet as mentioned in the documentation: https://roapi.github.io/docs/config/dataset-formats/parquet.html#large-datasets

[2022-11-18 05:26] longwallstreet opened #226 "老哥，/api/table这个endpoint是否考虑支持DELETE操作？"
在考虑一种使用场景，比较大的datasets，因此将use_memory_table参数设置为false，有如下行为
1. 第1次处理客户端查询时，roapi会读取文件内容并加载到内存中，假设roapi内存占用为M
2. 第2~N次处理客户端查询时，roapi内存短暂占用会是2*M，查询结束后内存占用仍然是M左右

ps: 1和2是初步使用的过程中观察到现象(也可能描述不准确~)

如果这个datasets中每个文件都被查询一次，这样roapi是不是占用比较大内存？

这里是否可以通过支持/api/table/{table_name} 的DELETE操作可以动态来"释放内存"？
如果支持DELETE操作的话，是否会造成某些影响？

[2022-11-19 12:51] elliot14A opened #227 "Parquet s3 urls not working when `use_memory_table` is set to false"
s3 urls were not working when `use_memory_table` is set to false.
It was returning the following error:
[code]

So I went through the datafusion repo, did a little bit of debugging then I had found out that,
 While using `use_memory_table: false`  it was using a function from datafusion called `infer_schema` which in turn uses `object_store` which is actually causing the error. `object_store` is a

[2022-11-21 07:50] aersam opened #228 "Feature Request: SQL Endpoint with Parameters"
Hi there

This project really looks promising! I have one thing I think should be changed: the SQL Endpoint does not seem to support parameters - at least it's not documented. That encourages users to create their SQL by using string concatenation which is not good from a security perspective (SQL injection). I propose to either use JSON Body:

[code]

Or make use of headers:

[code]

What do you

[2022-11-22 06:15] #208 closed

[2022-11-26 12:54] elliot14A opened #229 "Feature: Pagination"
The current version of roapi doesn't support pagination

[2022-11-26 17:46] dominikpeter commented on #42
I also have problem with timestamps when reading delta tables.

{"code":400,"error":"query_execution","message":"Failed to execute query: Arrow error: External error: Execution error: Failed to map column projection for field XY. Incompatible data types Timestamp(Nanosecond, None) and Timestamp(Microsecond, None)"}

Is there a workaround how I could load the data anyway?

[2022-11-26 19:33] dominikpeter opened #231 "Error when using delta tables with partitions"
I get an error when I try to use a delta table with partitions.

I can reproduce the error with this sample data:

df = pd.read_csv( "https://raw.githubusercontent.com/quankiquanki/skytrax-reviews-dataset/master/data/airport.csv")
cols = df.columns
df["year"] = pd.to_datetime(df["date"]).dt.year
df = df[cols.insert(0, "year")]

write_deltalake("./data/airport1", df, partition_by=["year"])
df = df[

[2022-11-27 08:33] #229 closed

[2022-11-27 18:02] elliot14A opened #232 "Issue: Queries load results into memory"
Currently all queries load the results in to memory
[code]
So all this queries use a method called `collect` which as per docs loads the queried results in to memory.
[code]

There is another method called `collect_partitioned` which does not load into the memory but return the result `Result<Vec<Vec<RecordBatch>>>`
[code]

So can I create pr changing current query functions with `collect_partitio

[2022-11-28 06:23] houqp commented on #42
@dominikpeter have you tried to manually cast the type using the `to_timestamp` function?

[2022-11-28 18:20] dominikpeter commented on #42
Yes. This gives me the same error:
{"code":400,"error":"query_execution","message":"Failed to execute query: Arrow error: External error: Execution error: Failed to map column projection for field XY. Incompatible data types Timestamp(Nanosecond, None) and Timestamp(Microsecond, None)"}

Same for cast(XY as string)

The data was written with Databricks Runtime 11.3 (Apache Spark 3.3.0). I have the

[2022-11-28 19:23] dominikpeter commented on #42
I tried to reproduce the error with some sample data.

this works:
import pandas as pd
from deltalake.writer import write_deltalake
import pyarrow as pa
from typing import Tuple

def delta_arrow_schema_from_pandas(
    data: pd.DataFrame,
) -> Tuple[pd.DataFrame, pa.Schema]:
    # helper from here: https://github.com/delta-io/delta-rs/pull/958
    table = pa.Table.from_pandas(data)
    _schema = t

[2022-11-30 04:08] tempbottle opened #233 "`SQL like '%中文%'` is not supported"
http rest api give message:
`Failed to execute query: Arrow error: External error: Arrow error: External error: Execution error: Arrow error: External error: Internal error: Data type LargeUtf8 not supported for scalar operation 'like' on string array. This was likely caused by a bug in DataFusion's code and we would welcome that you file an bug report in our issue tracker`

Maybe DataFusion not s

[2022-11-30 05:58] elliot14A commented on #232
With the  `collect` function, what happens to memory after querying , is it freed right after execution or  is the memory used when the same query is executed again?

What would be a better option to use, a redis cache or to use this query memory(if memory from query is used again)?